
*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-attachment: fixed;  

}

body
{
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
  position: relative;	
	background-image: url('../images/138488.jpg')
}

h1
{
	font-size: 3rem;
	font-weight: 50;
	margin: 1rem 0 3rem;
	text-align: center;
	color: red;
	font-family: 'Hind', sans-serif;
}

.styling
{
	font-weight: 800;
	color: lime;
}

.input_div 
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.input_div #input 
{
	padding: 0.5rem 1rem ;
	height: 43px;
	outline: none;
	border: none;
	background-color: #fff;
	width: 450px;
	font-size: 1.15rem;
	margin: 0.25rem;
	border-radius: 6px;
}
#input2
{
	padding: 0.5rem 1rem ;
	height: 43px;
	outline: none;
	border: none;
	background-color: #fff;
	width: 150px;
	font-size: 1.15rem;
	margin: 0.25rem;
	border-radius: 6px;

}

#btn
{
	height: 43px;
	width: 43px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-color: #fff;
	color: #fff;
	margin: 0.25px;
	background-color: lime;
	cursor: pointer;

}
#btn:hover
{
	opacity: 0.7;
}


ul
{
	list-style: none;
	padding:10px;
	width:400px;	
	background: #eee;
	border: none;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;		


}

.bigcontainer
{
   align-items:center;
   margin-top: 50px;
   
    overflow: hidden;
}

.taskstodo 
{
	float: left;
	
	margin-left:60px;	
}


.mycompletedtasks
{
	float: right;
	
margin-right:60px;
}


h3
 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;	
	
	font-family: 'Hind', sans-serif;
}

#todos
{
	color:#85144b;
}
#comp
{
	color:#B10DC9;
}

#lab /*id of the input text on the lists*/
{
	color: #4d4d4d;
	margin-left: 10px;
	font-family: 'Hind', sans-serif;

}
